services:
  api-core:
    image: {{ apicore_image }}
    container_name: api-core
    restart: unless-stopped
    ports:
      - "{{ apicore_port }}:8080"
    env_file:
      - .env
    networks:
      - parlor-network

networks:
  parlor-network:
    external: true
