services:
  redis:
    image: {{ redis_image }}
    container_name: redis
    restart: unless-stopped
    ports:
      - "127.0.0.1:{{ redis_port }}:6379"
    volumes:
      - {{ redis_data_dir }}:/data
    command: redis-server --appendonly yes
    networks:
      - parlor-network

networks:
  parlor-network:
    external: true
